# Copy this file to .env and add your real keys (DO NOT COMMIT .env)
STRIPE_PUBLISHABLE_KEY=pk_live_51SECDl2Mm7yB3xwYKWnFmA9dt1VWF7VWexlpYPwf4wcUnMWhroxDXBabwQBLYOX2MgTQkpweJyAOzjyCKg99c40900g6cjx0bJ
STRIPE_SECRET_KEY=pk_live_51SECDl2Mm7yB3xwYKWnFmA9dt1VWF7VWexlpYPwf4wcUnMWhroxDXBabwQBLYOX2MgTQkpweJyAOzjyCKg99c40900g6cjx0bJ
SITE_URL=https://robynandgold.com
STRIPE_CURRENCY=eur
